@import url('reset.css');


.slider {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eeeaea;
    box-shadow: 5px 5px 10px black;
}

.image-to-show {
    display: none;
    width: 400px;
    height: 400px;
}

.active {
    
    display: inline;
}

.show-in {
    animation: fade-in .25s;
}

.show-out {
    animation: fade-out .25s;
    animation-delay: 2.75s;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    width: 100px;
    background: #b71818;
    box-shadow: 3px 3px 5px #000;
    font-weight: bold;
}

.resume {
    background: #1abf25;
    margin-left: 50px;
}

.timer {
    width: 120px;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 3px #000, 0 0 3px #000;
    padding: 5px 10px;
    background: #9b9e8c;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

#btnholder {
    margin-top: 30px;
    text-align: center;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}